.pagination-centering {
  display: inline-block;
  align-items: center;
  margin: 3vh;
}
.pagination-container {
  display: flex;
  align-items: center;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    font-weight: 500;
    margin: auto 4px;
    color: #333;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border: 2px solid #eee;
    border-radius: 6px;
    line-height: 1.43;
    font-size: 1.4em;
    min-width: 5px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}
