h2 {
  font-size: clamp(1.3em, 2vh, 1.6em);
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: clamp(0.9em, 1.5vh, 1.2em);
  font-weight: 500;
}
img {
  border-radius: min(10px, 1.5vh);
  box-shadow: 5px 5px 10px #999;
}
.main-img {
  max-block-size: 25vh;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: min(10px, 1.5vh);
  width: clamp(200px, 20vw, 500px);
  margin: 1em;
  padding: 1em;
  background-color: #eee;
  text-align: center;
}
.link {
  transform: scale(1);
  transition: 0.2s ease-in-out;
}
.link:hover {
  text-decoration: underline;
  transform: scale(1.05);
}
