h2 {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 1.3em;
  font-weight: 500;
}
img {
  margin: 15px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #999;
}
.main-img {
  max-block-size: 40vh;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2vw;
  width: 500px;
  margin: 2em;
  padding: 2em;
  background-color: #eee;
  text-align: center;
}
