.details.h2 {
  text-align: left;
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1vh 20vw 1vh 8vw;
}
.button {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 2vw;
  border: 3px solid #777;
  box-shadow: 5px 5px 10px #999;
}
.details {
  text-align: left;
  font-weight: 500;
}
.description.details {
  text-align: left;
  font-size: 2vw;
  font-weight: 500;
  margin: 30px 20vw 30px 8vw;
}
.details.text {
  font-size: 1.5vw;
  margin: 1vw 10vw;
}
.main-img.details {
  block-size: 60vw;
  margin: 1vh;
}
.small-img.details {
  border-radius: 0.5vh;
  height: 15vh;
  margin: 2vh;
}
