.details.h2 {
  text-align: left;
  font-size: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1vh 20vw 1vh 8vw;
}

.details {
  text-align: left;
  font-weight: 500;
}
.description.details {
  text-align: left;
  font-size: 2vw;
  font-weight: 500;
  margin: 30px 20vw 30px 8vw;
}
.details.text {
  font-size: 1.5vw;
  margin: 1vw 10vw;
}
.main-img.details {
  block-size: 60vw;
  margin: 1vh;
}
.small-img.details {
  border-radius: 0.5vh;
  height: 15vh;
  margin: 2vh;
}
.button {
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 2vw;
  background-color: #ddd;
}
button {
  position: fixed;
  bottom: 0px;
}
button:hover {
  box-shadow: inset 200px 0 0 0 #444;
  color: white;
}
