* {
  text-align: center;
}
.homepage-container {
  display: inline-flex;
  padding: 100px;
}
.homepage {
  font-size: 6em;
  color: rgb(204, 38, 88);
  padding: 2rem;
  background-color: #eee;
}
.pagination {
  margin-top: 4vh;
  display: inline-block;
  text-align: center;
}
