* {
  text-align: center;
}
.homepage {
  font-size: 6em;
  color: #333;
  padding: 2rem;
  background-color: #eee;
}
.pagination {
  margin-top: 4vh;
  display: inline-block;
  text-align: center;
}
